{% extends 'main_page/layout.html'%}

{% block title %}Test{% endblock %}


{% block content %}

    <h2>{{ 'Income' }}</h2><br>
    {% for key_section, value_section in in_dict_section.items %}
        <h5>{{ key_section }}</h5><br>
        {% for key_category, value_category in in_dict_category.items %}
            {% if value_section.id_section__id == value_category.id_category__to_section %}
            <h6>{{ key_category }}</h6><br>
                {% for key_name, value_name in in_dict_name.items %}
                    {% if value_category.id_category__id == value_name.id_name__to_category %}
                    <h7>{{ key_name }}</h7> {{ value_name.sum }}<br>
                    {% endif %}
                {% endfor %}               
            {% endif %}
        {% endfor %}
    {% endfor %}
    <h1>{{ 'Общий доход' }} {{ in_sum_all }}</h1>

    <h2>{{ 'Outcome' }}</h2><br>
    {% for key_section, value_section in out_dict_section.items %}
        <h5>{{ key_section }}</h5><br>
        {% for key_category, value_category in out_dict_category.items %}
            {% if value_section.id_section__id == value_category.id_category__to_section %}
            <h6>{{ key_category }}</h6><br>
                {% for key_name, value_name in out_dict_name.items %}
                    {% if value_category.id_category__id == value_name.id_name__to_category %}
                    <h7>{{ key_name }}{{ value_name.sum }}</h7><br>
                    {% endif %}
                {% endfor %}               
            {% endif %}
        {% endfor %}
    {% endfor %}
    <h1>{{ 'Общий расход' }} {{ out_sum_all }}</h1>

    {{ 'Баланс ' }}{{ in_sum_all|add:out_sum_all }}<br>
    <a href="{% url 'main_page' %}" class="btn btn-dark btn-sm">Back to Main Page</a>


{% endblock %}