{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/css/authentication_style.css' %}">
</head>
<body>
    <aside>
        <img src="{% static 'main_page/img/dollar.png' %}" alt="Лого">
        <span class="logo"><h5>Your finance helper</h5></span>
        <h3>Navigation</h3>
        <ul>
            <a href="{% url 'main_page' %}"><li><i class="fas fa-home"></i> Current financial results</li></a>
            <a href=""><li><i class="fas fa-calendar-alt"></i> Financial calendar</li></a>
            <a href=""><li><i class="fas fa-piggy-bank"></i> Savings</li></a>
            <a href=""><li><i class="fas fa-list"></i> List of planned expenses</li></a>
            <a href="{% url 'reports' %}"><li><i class="fas fa-chart-pie"></i> Reports</li></a>
            <a href=""><li><i class="fas fa-cogs"></i> Settings</li></a>
            <a href="{% url 'add_income' %}"><button class='btn btn-primary'>Add Income</button></a>
            <a href="{% url 'add_outcome' %}"><button class='btn btn-danger'>Add Outcome</button></a>
        </ul>
    </aside>
    <div class="header">
        <ul id="mainmenu" class="mainmenu">
    {% if request.user.is_authenticated %}
	<li class="last">{{user.username}} <a href="{% url 'password_change' %}" class="btn btn-outline-success btn-sm">Change password</a> | <a href="{% url 'logout' %}" class="btn btn-outline-info btn-sm">Log out</a></li>
    {% else %}
    <li class="last"><a href="{% url 'login' %}" class="btn btn-outline-success btn-sm">Log in</a> <a href="{% url 'password_reset' %}" class="btn btn-outline-success btn-sm">Reset password</a> | <a href="{% url 'register' %}" class="btn btn-outline-info btn-sm">Registration</a></li>
    {% endif %}
        </ul>
    <div class="clear"></div>
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
</body>
</html>


