{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main_page/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
</head>
<body>
    <aside>
        <img src="{% static 'main_page/img/dollar.png' %}" alt="Лого">
        <span class="logo"><h5>Your finance helper</h5></span>
        <h3>Navigation</h3>
        <ul>
            <a href="{% url 'main_page' %}"><li><i class="fas fa-home"></i> Current financial results</li></a>
            <a href=""><li><i class="fas fa-calendar-alt"></i> Financial calendar</li></a>
            <a href=""><li><i class="fas fa-piggy-bank"></i> Savings</li></a>
            <a href=""><li><i class="fas fa-list"></i> List of planned expenses</li></a>
            <a href="{% url 'reports' %}"><li><i class="fas fa-chart-pie"></i> Reports</li></a>
            <a href=""><li><i class="fas fa-cogs"></i> Settings</li></a>
            <a href="{% url 'add_income' %}"><button class='btn btn-primary'>Add Income</button></a>
            <a href="{% url 'add_outcome' %}"><button class='btn btn-danger'>Add Outcome</button></a>
        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
</body>
</html>